# Dart/Pub
.dart_tool/
.packages
.pub-cache/
.pub/

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.flutter-configuration
generated_plugin_registrant.dart

# Build outputs
/build/
**/build/
**/ios/Flutter/.last_build_id

# Obfuscation
app.*.map.json
app.*.symbols

# Coverage
coverage/

# IDEs
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/
*.code-workspace

# macOS
.DS_Store

# Linux
*.swp

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Firebase
firebase.json
firebase-debug.log
.firebaserc

# Android/Gradle
android/.gradle/
android/.idea/
android/local.properties
android/gradle.properties
android/captures/

# Xcode
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/engine/

# Web
web/.dart_tool/

# Misc
*.log
*.tmp
*.lock
*.bak
*.class
*.pyc
*.migrate

# Tests
.melos_tool/
